*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
    background-color:#060B1F;
}
nav{
    justify-content: flex-start;
    display:flex;
    flex-grow: 1;
    align-items: center;
}
.para{
    color: white;
    font-size: 12px;
    margin: 15px;
}
p{  
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 3px; 
    margin: 5px;
    color: white;
}
h1{
    font-size: 40px;
    margin: 0px;
    color: white;
}
span{
    color: transparent;
    background: linear-gradient(90deg, #2563FF, #8B5CF6);
    background-clip: text;
 
}
h2{
    display: flex;
    color: white;
}
h6{
    
    font-size: 15px;
    display: flex;
    color: white;
    margin: 0px 20px 5px;
}
h5{
    gap: 10px;
    font-size: 15px;
    color: white;
    margin: 0%;
}
header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0px;
}
#logo{
    width: 120px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#lista{
    font-size: 16px;
    display: flex;
    padding: 0px;
    list-style: none;
    gap: 30px;
    margin: 0 auto;
}
.item a{
    text-align: center;
    padding: 12px 20px 5px;
    color: white;
    text-decoration: none;
    transition: .4s;
    margin: 0%;
    display: inline-block;
}
.item a:hover{
    color: #2563FF;
    transform: scale(1.2);
}
#perf{
    margin: 10px;
    width: 70px;
}
.perfil{
    position: relative;
    padding: 1px;

}
#azul{
    background: transparent;
    cursor: pointer;
    border-radius:48%;
    transition: .4s;
    border:none;
    padding: 5px;
    margin: 0;
    
}
#azul:hover{
    transform: scale(1.05);
}
#principal{
    padding: 30px;
}
.barra{
    justify-content: space-between;
    background-color: rgba(59,130,246,.25);
    display: flex;
    border-radius: 7px;
    width: 600px;
    height: 10px;
    padding: 20px;
    align-items: center;
    box-shadow: 0 4px 12px rgba(10, 14, 238, );
}
select{
    background:transparent;
    outline: none;
    border: none;
    color: white;
}
input{
    background: transparent;
    color: white;
    outline: none;
    border: none;
    background: transparent;
}
.btn{
    cursor: pointer;
    color: white;
    background: linear-gradient(90deg, #2563FF, #8B5CF6);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    transition: .2s;
}
.btn:hover{
    background: #2563FF;
    transform: scale(1.05);
}
.hero{
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(59,130,246,.25);
    border: solid   rgba(59,130,246,.25);
}
.fadback{
    padding: 10px;
    gap: 10px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: solid   rgba(59,130,246,.25);
    box-shadow: 0 0 30px rgba(59,130,246,.25);
}
i{ 
    padding: 0%;  
    margin: 0px;
    border-radius: 5px;
    font-size:30px ;
    color:#2563FF;
}
.destaque{
    flex: 1;
    align-items: center;
    border-radius: 10px;
    position: relative;
    background-clip:border-box, padding-box;
    flex-direction: row;
    display: flex;
    padding: 10px;
    background: linear-gradient(90deg, #2563FF, #8B5CF6);
    
}
.destaque::before {
    border-radius: 10px;
    background: #060B1F;
    content: "";
    position: absolute;
    top: 3px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    transition: .4s;
}
.destaque i {
    margin: 10px;
    width: 44px;
    height: 44px;
    min-width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1c43;
    border: 1px solid #214a9b;
    border-radius: 12px;
    font-size: 20px;

}
.roxo1{
    color: #6958FF;
}
.roxo2{
    color: #9348FF;
}
.blocos{
    display: flex;
    flex-direction: column;
}
.destaque > * {
    position: relative;
    z-index: 1;
}
.destaque:hover{
    transform: scale(1.05);
}
.destaque .para{
    margin: 0;
}
.destaque .import{
    flex-wrap: wrap;
    font-size: 15px;
    color: transparent;
    background: linear-gradient(90deg, #2563FF, #8B5CF6);
    background-clip: text;

}
.cards{
    gap: 20px;
    padding: 13px 20px;
    display: flex;
    align-items: center;
}
.card{
    position: relative;
    justify-content: flex-start;
    height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: .4s;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px #8B5CF6;
    background:linear-gradient(90deg, #2563FF, #8B5CF6);
}
.card > *{
    position: relative;
    z-index: 1;
}
.card:hover{
    transform: scale(1.05);
    
}
.card i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #0B1C43;
    border: 1px solid #8B5CF6;
    box-shadow: 0 0 15px #8B5CF6;
}
.card h6{
    margin-bottom: 16px;
    font-weight: 600;
}
.card p{
    font-size: 14px;
      margin: 10px 0 0;
}
.card::before{
    content: "";
    position: absolute;
    top: 2px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: #060B1F;
    z-index: 0;
    border-radius: 18px;
    background: url("FUNDO.png") bottom center / 100% auto no-repeat,
    #060B1F;
}
.card hr{
    border: none;
    width: 40px;
    height: 2px;
    background:linear-gradient(90deg, #2563FF, #8B5CF6);
}
#painel{
    text-align: center;
    transition: 0.4s;
    pointer-events: none;
    opacity: 0;
    border: solid   rgba(59,130,246,.25);
    box-shadow: 0 0 30px rgba(59,130,246,.25); 
    margin-right: 5px;
    right: 0px;
    background: #151f45;
    position: absolute;
    top: 80px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;

}
#painel.aberto{
    pointer-events: auto;
        opacity: 1;
    }
#painel h3 {
    text-align: center;
    margin: 15px;
    font-size: 15px;
    color: white;
}
#painel p {
    margin-bottom: 15px;
    font-size: 14px;
}
#painel hr {
    margin: 5px 5px;
    background: #2563FF;
    height: 1px;
    border: none;
}
#menu{
    display: none;
}
.entrar{
    background-color: #060B1F;
    box-shadow: 0 0 30px rgba(59,130,246,.25)  ;
    border: solid rgba(59,130,246,.25);
    cursor: pointer;
    border-radius:10px;
    transition: .4s;
    font-size: 13px;
    padding: 5px;
   color: white;
}
.entrar:hover{
    background: #2563FF;
    transform: scale(1.05);
}
footer {
    align-items: center;
    background-color: #0B1230;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
footer img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

@media (max-width: 768px) {
    .cell{
        position: relative;
        right:0;
    }
    .cell nav{
        display: block;
    }

    #lista{
        display: none;
    }
    
    #lista.aberto{
        box-shadow: 0 0 30px rgba(59,130,246,.25); 
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        background: #151f45;
        margin: 0%;
        top: 35px;
        position: absolute;
         display:flex;
         flex-direction: column;
        }
        .item a:active {
         background: #2563FF;
         }
        #menu{
        border: none;
        background: transparent;
        order:-1;
        display: block;
    }
    #cargo{
         flex: 1;
    }
    .barra{
    margin-bottom: 5%;
    box-sizing: border-box;
    justify-content: flex-start;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    }
       h1{
        font-size: 32px;
       }
       .fadback{
           flex-wrap: wrap;
           flex-direction:column;
    }
    .destaque{
        width: 100%;
        box-sizing: border-box;
    }
       .para{
        margin: 0px;
       }
       i{
        margin: 0%;
       }
       .card  { 
        margin-right: 0;
        padding: 5px;
        width: 170px;
       }
    p{
        font-size: 5px;
    }
    nav{
        justify-content: flex-end;
    }
    #logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cards{
    flex-direction: column;
    flex-wrap: wrap;
}
.card{
    width: 100%;
    box-sizing: border-box;
}
.card p{
    font-size: 12px;
}
.btn {
    height: 40px;
}
}